<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('room.title') %>: </strong>
  <%= @room.title %>
</p>

<p>
  <strong><%=  t('room.location') %>: </strong>
  <%= @room.location %>
</p>

<p>
  <strong><%= t('room.description') %>: </strong>
  <%= @room.description %>
</p>

<p>
  <strong><%= t('room.text') %>: </strong>
  <%= @room.text %>
</p>

<%= link_to t('links.edit'), edit_room_path(@room) %> |
<%= link_to t('links.back'), rooms_path %>
